{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<dl>
  <dt>Title</dt>
  <dd>{{ page.title }}</dd>
  <dt>Body</dt>
  <dd>
      {% for block in page.body %}
        {% include_block block %}
      {% endfor %}
  </dd>
  <dt>Content tags</dt>
  <dd>
    <ul>
      {% for tag in page.content_tags.all %}
      <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
  </dd>
  <dt>Theme tags</dt>
  <dd>
    <ul>
      {% for tag in page.theme_tags.all %}
      <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
  </dd>
</dl>
{% endblock %}
