<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://etna-prototypes.herokuapp.com/styles/dist/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Mono:400,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
    />
    <title>Collection explorer</title>
  </head>

  <body>
    <script>
      const test = {{ page.title }}
    </script>
    <div class="row mobile-banner">
      <div class="container">
        <div class="alert alert-primary" role="alert">
          This is a prototype for small screens. Resize your browser window
          width to below 576px to see it.
        </div>
      </div>
    </div>
    <main class="explorer">
      <ul
        class="nav justify-content-end hidden-on-large-screens"
        id="main-navigation"
      >
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu <i class="bi bi-list"></i></a>
        </li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Explore
                </li>
              </ol>
            </nav>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active lead"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  ><strong>Explore the collection</strong></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link lead"
                  id="contact-tab"
                  data-toggle="tab"
                  href="#contact"
                  role="tab"
                  aria-controls="contact"
                  aria-selected="false"
                  ><strong>Search</strong></a
                >
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="row mt-4">
                <p>{{ page.introduction }}</p>
              </div>
              <div class="col">
                {% for child in page.get_children %} 
                  {% cycle true false as is_even %} 

                  {% if is_even or forloop.first%}
                    <div class="row mt-4">
                  {% endif %}

                    <div class="col">
                      <div class="card">
                        <img
                          class="card-img-top"
                          src="https://via.placeholder.com/160x90"
                          alt="Card image cap"
                        />
                        <div class="card-body">
                          <a href="{{ child.get_url }}">{{ child.title }}</a>
                        </div>
                      </div>
                    </div>

                  {% if not is_even or forloop.last %}
                    </div>
                  {% endif %} 

                  {% endfor %} 
                {% comment %}
                <div class="row mt-4">
                  <div class="col">
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://via.placeholder.com/160x90"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <a href="#">Objects</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://via.placeholder.com/160x90"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <a href="#">People</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://via.placeholder.com/160x90"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <a href="/explorer/time-periods/index.php"
                          >Time periods</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://via.placeholder.com/160x90"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <a href="#">Historical events</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://via.placeholder.com/160x90"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <a href="#">Topics and themes</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="https://via.placeholder.com/160x90"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <a href="#">Places</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endcomment %}
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <h2>Popular today</h2>
        </div>
        <div class="row">
          <div class="col">
            <p>
              A photograph of children at the Queen's 1970 visit to Toxteth,
              Liverpool.
            </p>
          </div>
          <div class="col">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/160x90"
              alt="Card image cap"
            />
          </div>
        </div>
        <div class="row mt-3">
          <h2>Featured</h2>
          <p class="lead">Black history month</p>
        </div>
        <div class="row">
          <div class="col">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/320x180"
              alt="Card image cap"
            />
          </div>
        </div>
      </div>
    </main>
    <script>
      document.getElementsByTagName("html")[0].className = "js";
    </script>
  </body>
</html>
